// Basic colors
$colorBlack: #333;
$colorBrownishGrey: #767676;
$colorLightPeach: #dbdada;
$colorWhite: #f9f9f9;
$colorPaleGrey: #f7f9fa;
$colorPerryWinkle: #a98ce6;
$colorSlateGreen: #5d906e;
$colorSilver: #bccfc2;
$colorRed: #ca0101;
$colorMidBlue: #2a67ae;

// Gradient colors
$colorGradientStart: #eaf0f5;
$colorGradientEnd: #f0e4db;