@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

$textHeaderSize: 48px;
$textSizeBig: 20px;
$textSizeMedium: 16px;
$textSizeSmall: 14px;
$textAdditionalSize: 16px;
$textAccentSize: 14px;
$textLinkSize: 14px;
$textFontFamily: Roboto;

%text-style-basic {
  font-family: $textFontFamily;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $colorBlack;
}

.text-style-header  {
  @extend %text-style-basic;

  font-size: $textHeaderSize;
  font-weight: bold;
}

.text-style-big {
  @extend %text-style-basic;

  font-size: $textSizeBig;
}

.text-style-medium {
  @extend %text-style-basic;

  font-size: $textSizeMedium;
}

.text-style-small {
  @extend %text-style-basic;

  font-size: $textSizeSmall;
}

.text-style-additional {
  @extend %text-style-basic;

  font-size: $textAdditionalSize;
  color: $colorBrownishGrey;
}

.text-style-accent {
  @extend %text-style-basic;

  font-size: $textAccentSize;
  color: $colorSlateGreen;
}

.text-style-link {
  @extend %text-style-basic;

  font-size: $textLinkSize;
  letter-spacing: 0.1px;
  color: $colorMidBlue;
  border-bottom: 1px solid rgba($colorMidBlue, 0.2);

  &:hover {
    color: $colorPerryWinkle;
    border-color: rgba($colorPerryWinkle, 0.3);
  }
}

span, pre, b, p {
  @extend .text-style-medium;
}

h1 {
  @extend .text-style-header;
}

a {
  @extend .text-style-link;

  text-decoration: none;
}
