<template>
  <main>
    <h1>Заголовок</h1>
    <p class="text-style-big">Обычный текст 20</p>
    <p class="text-style-medium">Обычный текст 16</p>
    <p class="text-style-small">Обычный текст 14</p>
    <p class="text-style-additional">Дополнительный текст</p>
    <p class="text-style-accent">Акцентный текст</p>
    <a href="#">Ссылка</a>
  </main>
</template>