<template>
  <header>
    <router-link to="/">Home</router-link>
  </header>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class AppHeader extends Vue {

}
</script>
