<template>
  <div id="app">
    <AppHeader/>
    <main>
      <router-view/>
    </main>
    <AppFooter/>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import AppHeader from '@/components/AppHeader.vue';
import AppFooter from '@/components/AppFooter.vue';

@Component({
  components: {
    AppHeader,
    AppFooter,
  },
})
export default class App extends Vue {

}
</script>

<style lang="scss">
@import '@/styles/global.scss';
</style>
